

__pycache__/
*.py[cod]
*$py.class

todo.md
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/



build/

/profiles/

/output/

/error_logs/
/task_results/

local_storage.json

db.sqlite3


# mypy
.mypy_cache/

/tasks/

/profiles/

/error_logs/
/task_results/

create_cache.py
cache/.DS_Store
.DS_Store
